{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">{{user.first_name}}'s Tasks</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        <p>{{ note.id }}|{{ note.data }}</p>
        {% if note.complete == False %}
        <span class="ui gray label">Not Complete</span>
        {% else %}
        <span class="ui green label">Completed</span>
        {% endif %}
        <button type="button" class="btn btn-outline-danger float-right" >
          <a  href="/delete/{{ note.id }}">Delete</a>
        </button>
        <button type="button" class="btn btn-outline-primary float-right">
          <a href="/update/{{ note.id }}">Update</a>
        </button>
        

      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <input name="note" id="note" class="form-control"></input>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
    <p align="float-right">User id : {{user.id}}</p>
    {% endblock %}